@import "../ColorScheme.scss";
.Blog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
  height: 100%;
  flex-direction: column;
  .Page-Title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    h1 {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin: 2rem 3rem 0 0;
      font-size: 4rem;
      color: $titleText;
    }
  }
  .Blog-Container {
    font-family: "Montserrat";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem 0;
    scroll-behavior: smooth;
    min-height: 100vh;
  }
  .None-Available {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: inherit;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .Blog {
    .Page-Title {
      h1 {
        margin: 2rem 3rem 0 0;
      }
    }
    .Blog-Container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 3rem;
      min-height: 0;
    }
  }
}
@media (max-width: 767px) {
  .Blog {
    .Page-Title {
      h1 {
        font-size: 3rem;
      }
    }
    .Blog-Container {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  }
}
