@import "../ColorScheme.scss";
.Card {
  a {
    text-decoration: none;
    color: $nameText;
    .Project-Image {
      max-width: 360px;
      max-height: 360px;
      img {
        object-fit: cover;
        width: 360px;
        height: 360px;
      }
    }
    .Project-Title {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      h3 {
        font-style: italic;
        margin: 1rem 0 0;
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 360px;
      }
    }
  }
  &:hover {
    a {
        text-decoration: underline 0.1rem;
        text-underline-offset: 0.2rem;
    }
  }
}
@media (max-width: 767px) {
  .Card {
    a {
      .Project-Image {
        max-width: 90%;
        max-height: 90%;
        img {
          object-fit: cover;
          width: 90%;
          height: 90%;
        }
      }
      .Project-Title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        h3 {
          font-style: italic;
          margin: 1rem 0 0;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
    
  }
}
