$bgColorPrimary: #fcf7e1;
$bgColorSecondary: rgba(196, 118, 16, 0.01);
$mozSelection: #967762;
$black: #000000;
$white: #ffffff;
$nameText: #4b3526;
$titleText: #272424;
$borderPrimary: #BBAB8C;
$boxShadow: rgba(75, 53, 38, 0.2);
